body { font-family: Arial, sans-serif; direction: rtl; text-align: right; margin: 0; padding: 0; }
.container { width: 97%; padding: 10px; box-sizing: border-box; }
input, button { display: block; width: 100%; margin: 5px 0; padding: 8px; }
table { width: 100%; border-collapse: collapse; margin-top: 10px; }
th, td { border: 1px solid #ddd; padding: 8px; text-align: center; cursor: pointer; }
th { background-color: #f4f4f4; }
.delete-btn { background: red; color: white; border: none; cursor: pointer; padding: 5px; }
.edit-btn { background: blue; color: white; border: none; cursor: pointer; padding: 5px; }
.move-btn { background: gray; color: white; border: none; cursor: pointer; padding: 5px; }
.call-link { text-decoration: none; color: blue; }
.paid { background: green; color: white; cursor: pointer; }
.hidden { display: none; }
a{text-decoration: none;}
.modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; border: 1px solid #ddd; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
